* {
    padding:0;
    margin:0;
}
html,body {
    height: 100%;
}
.pointer {
    cursor:pointer;
}
.flexStartBox,.flexBetweenBox,.flexAroundBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flexBetweenBox {
    justify-content: space-between;
}
.flexAroundBox {
    justify-content: space-around;
}